GCS_BUCKET=magzimus-video-raw
GCS_REGION=me-west1
N8N_WEBHOOK_PROD=https://n8n.russak.cloud/webhook/6a1ed42a-4185-496d-a97d-6b57a623f7e0
N8N_WEBHOOK_TEST=https://n8n.russak.cloud/webhook-test/6a1ed42a-4185-496d-a97d-6b57a623f7e0
N8N_BASE_URL=https://n8n.russak.cloud
N8N_API_KEY=
GOOGLE_APPLICATION_CREDENTIALS=
GEMINI_API_KEY=
ARCHIVE_DB=/Volumes/Magzimus_2T/Magzimus_Video_Archive/archive.db
ARCHIVE_ROOT=/Volumes/Magzimus_2T/Magzimus_Video_Archive
ENVIRONMENT=TEST
